    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" ng-href="/#/">nowListeningTokyo</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="{{(path=='')     ?'active':'';}}"><a ng-href="/#/">Home</a></li>
              <li class="{{(path=='jwave')?'active':'';}}"><a ng-href="/#/jwave">jwave</a></li>
              <li class="{{(path=='tfm')  ?'active':'';}}"><a ng-href="/#/tfm">tokyo fm</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>



<div class="container">


<div class="jumbotron">
  <p class="lead">
    <a ng-href="{{info.url}}" target="_blank">
        <img
          src="http://dummyimage.com/480x360/f3f3f3/dddddd.gif&text=LOADING"
          ng-src="{{info.src}}" width="100%"
        ><br>
    </a>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="https://twitter.com/share?url={{info.url}}&text=%23NowListening%20{{info.title}}" target="_blank">Tweet</a></p>
</div>

<div class="row marketing">
  <h4>{{info.title}}</h4>
  <p>
    {{info.description}}
  </p>
</div>
</div>

